pandas==2.0.3
numpy==1.25.0
matplotlib==3.7.2
python-dotenv==1.0.0
requests==2.31.0
pytest==7.4.0
pytest-runner==6.0.0
pytest-subtests==0.11.0
argparse==1.4.0
pandarallel==1.6.5
beautifulsoup4==4.12.2
dataclasses-json==0.5.14
